
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 160 10% 96%;
    --foreground: 211 39% 10%;
    --card: 0 0% 100%;
    --card-foreground: 211 39% 17%;
    --popover: 0 0% 100%;
    --popover-foreground: 211 39% 17%;
    --primary: 211 39% 17%;
    --primary-foreground: 0 0% 100%;
    --secondary: 211 10% 90%;
    --secondary-foreground: 211 39% 17%;
    --muted: 211 10% 92%;
    --muted-foreground: 211 15% 40%;
    --accent: 2 64% 58%;
    --accent-foreground: 0 0% 100%;
    --destructive: 2 64% 58%;
    --destructive-foreground: 0 0% 100%;
    --border: 211 20% 90%;
    --input: 211 20% 90%;
    --ring: 211 39% 17%;
    --radius: 0.25rem;

    --status-success: 120 39% 54%;
    --status-warning: 35 84% 62%;
    --status-error: 2 64% 58%;

    --sidebar-background: 211 39% 17%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 0 0% 100%;
    --sidebar-primary-foreground: 211 39% 17%;
    --sidebar-accent: 211 30% 25%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 211 30% 25%;
    --sidebar-ring: 2 64% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline font-bold uppercase tracking-tight;
  }
  .dense-table th {
    @apply bg-primary text-primary-foreground text-[12px] uppercase py-2;
  }
  .dense-table td {
    @apply text-[12px] text-[#333333] py-1;
  }
}
